<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Modalidad de Pago</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header th:replace="~{header :: header}"></header>
<main class="container mt-3">
    <h2>Editar Modalidad de Pago</h2>
    <form th:action="@{/modalidades-pago/{id}/edit(id=${modalidadesPago.id})}" th:object="${modalidadesPago}"
          method="post" novalidate>
        <input type="hidden" th:field="*{id}">
        <label class="form-label" for="descripcion">Descripción:</label>
        <input class="form-control" type="text" id="descripcion" name="descripcion" th:field="*{descripcion}"
               th:descripcion required>

        <span class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
        <br>
        <label class="form-label" for="estado">Estado:</label>
        <select class="form-select" id="estado" name="estado" th:field="*{estado}" required>
            <option value="ACTIVO">Activo</option>
            <option value="INACTIVO">Inactivo</option>
        </select>

        <span class="text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
        <br>
        <input type="submit" value="Actualizar" class="btn btn-success">
    </form>
    <a th:href="@{/modalidades-pago/}">Volver a la lista</a>
</main>
</body>

</html>
